<!DOCTYPE html>

<html>

<head>

<link rel="stylesheet"
href="{{ url_for('static', filename='chaveamento.css') }}">

</head>

<body>

<h1>Torneio Arena Rocha</h1>

<div class="bracket">

    <div class="coluna">

        <h2>Chave dos Vencedores</h2>

        {% for jogo in jogos %}

        <div class="jogo">

            <div>{{ jogo[0] }}</div>

            <div>{{ jogo[1] }}</div>

        </div>

        {% endfor %}

    </div>


    <div class="coluna">

        <h2>Quartas</h2>

        <div class="jogo">

            Vencedor J1 x Vencedor J2

        </div>

        <div class="jogo">

            Vencedor J3 x Vencedor J4

        </div>

        <div class="jogo">

            Vencedor J5 x Vencedor J6

        </div>

        <div class="jogo">

            Vencedor J7 x Vencedor J8

        </div>

    </div>


    <div class="coluna">

        <h2>Semifinais</h2>

        <div class="jogo">

            Vencedor Q1 x Vencedor Q2

        </div>

        <div class="jogo">

            Vencedor Q3 x Vencedor Q4

        </div>

    </div>


    <div class="coluna">

        <h2>Final</h2>

        <div class="jogo final">

            Vencedor SF1 x Vencedor SF2

        </div>

    </div>

</div>

</body>

</html>